config IMAGE_ROOTFS_TAR
	bool "rootfs tar"
	help
	  Outputs image in a single tar

if  IMAGE_ROOTFS_TAR
choice
        prompt "Tar compression format"
        default IMAGE_ROOTFS_TAR_XZ

config IMAGE_ROOTFS_TAR_NONE
        bool "No compression"

config IMAGE_ROOTFS_TAR_XZ
        bool "xz compression"

config IMAGE_ROOTFS_TAR_BZIP2
        bool "bz2 compression"

endchoice
endif