config DS_USE_NTPSERVER
	default y
	bool "Enable NTP"
	help
	  Enable NTP by default using timesyncd

config DS_USE_NTPSERVER_PROVIDER
	string "NTP Server"
	depends on DS_USE_NTPSERVER
	default "time.cloudflare.com"
	help
	  NTP server to use with timesyncd
