menu "Distribution"
choice
        prompt "Architecture"
        default DS_ARCH_ARMHF
config DS_ARCH_ARMHF
        bool "armhf"
        help
          Target armhf (arm32 hard float) system
config DS_ARCH_ARMEL
        bool "armel"
        help
          Target armel (arm32 soft float) system
endchoice

choice
        prompt "Base Distribution"
config DS_DISTRO_DEBIAN_11
	bool "Debian 11 Bullseye"
	help
	  Use Debian 11 Bullseye as the base distribution
	
config DS_DISTRO_DEBIAN_12
	bool "Debian 12 Bookworm"
	help
	  Use Debian 12 Bookworm as the base distribution

config DS_DISTRO_UBUNTU_22_04
	bool "Ubuntu 22.04 Jammy Jellyfish"
	help
	  Use Ubuntu 22.04 as the base distribution

config DS_DISTRO_UBUNTU_23_04
	bool "Ubuntu 23.04 Lunar Lobster"
	help
	  Use Ubuntu 23.04 as the base distribution

endchoice

config DS_PACKAGELIST
	string "Package List"
	help
	  Set a package list to use to generate the image. See the files under
	  packagelist/

	default "debian-11-minimal.txt" if DS_DISTRO_DEBIAN_11 
	default "debian-12-minimal.txt" if DS_DISTRO_DEBIAN_12
	default "ubuntu_22_04-minimal.txt" if DS_DISTRO_UBUNTU_22_04
	default "ubuntu_22304-minimal.txt" if DS_DISTRO_UBUNTU_23_04
endmenu
