menu "Target Options"
choice
        prompt "Architecture"
        default DS_ARCH_ARMHF
config DS_ARCH_ARMHF
	bool "armhf"
        help
          Target armhf (arm32 hard float) system
config DS_ARCH_ARMEL
	bool "armel"
        help
          Target armel (arm32 soft float) system
endchoice
endmenu

source "distros/Kconfig"
source "kernel/Kconfig"
source "packages/Kconfig"
source "image/Kconfig"
source "generators/Kconfig"
