config DS_JOURNAL_SIZE_OVERRIDE
	bool "journalctl log size override"
	help
	  Override the defaults for how many logs are saved

config DS_JOURNAL_DISABLE_LOGS
	depends on DS_JOURNAL_SIZE_OVERRIDE
	bool "Disable all logs"
	help
	  Disable logging

config DS_JOURNAL_SIZE_VALUE
	depends on DS_JOURNAL_SIZE_OVERRIDE && !DS_JOURNAL_DISABLE_LOGS
	default "200M"
	string "Set Journal size limit"
	help
		Sets the journalctl --vacuum-size= value.
