
menu "Components"

menu "Hardware Specific Components"

menu "embeddedTS"
menu "Bootloader Binaries"
source "tasks/components/ts7400v2-uboot/Kconfig"
source "tasks/components/ts7670-uboot/Kconfig"
endmenu
source "tasks/components/legacy-bootscript/Kconfig"
source "tasks/components/ts4100-utils/Kconfig"
source "tasks/components/ts4900-utils/Kconfig"
source "tasks/components/ts7100-utils/Kconfig"
source "tasks/components/ts7670-utils/Kconfig"
source "tasks/components/ts4900-fpga/Kconfig"
source "tasks/components/tssupervisorupdate/Kconfig"
source "tasks/components/ts-uboot-env-configs/Kconfig"
source "tasks/components/ts-touchscreen-calibration/Kconfig"
source "tasks/components/udev-rules/Kconfig"
endmenu

menu "NXP"
source "tasks/components/xorg-etnaviv/Kconfig"
endmenu

menu "Microchip"
source "tasks/components/wilc-firmware/Kconfig"
source "tasks/components/wilc3000-external-module/Kconfig"
endmenu

menu "TI"
source "tasks/components/wl12xx-firmware/Kconfig"
endmenu
endmenu

source "tasks/components/linux-firmware/Kconfig"
source "tasks/components/distroboot-scripts/Kconfig"
source "tasks/components/watchdog/Kconfig"
source "tasks/components/resize/Kconfig"

menu "Additional Graphical Components"
menu "Light and Versatile Graphics Library (LVGL)"
source "tasks/components/liblvgl/Kconfig"
source "tasks/components/lv_drivers/Kconfig"
endmenu
source "tasks/components/startx-service/Kconfig"
source "tasks/components/ts7100z-lvgl-ui-demo/Kconfig"
endmenu
endmenu
