menu "Components"

menu "Hardware Specific Components"

menu "embeddedTS"
source "components/legacy-bootscript/Kconfig"
source "components/ts4900-utils/Kconfig"
source "components/ts7100-utils/Kconfig"
source "components/ts4900-fpga/Kconfig"
source "components/tssupervisorupdate/Kconfig"
endmenu

menu "Microchip"
source "components/wilc-firmware/Kconfig"
source "components/wilc3000-external-module/Kconfig"
endmenu

menu "TI"
source "components/wl12xx-firmware/Kconfig"
endmenu
endmenu

source "components/distroboot-scripts/Kconfig"
source "components/resize/Kconfig"

endmenu
