# TS-7100-Z
# Note that, this specifically matches the device and SPI bus.
# If the SPI bus ever changes for some reason, this will no longer match
ACTION=="add|change", KERNEL=="event[0-9]*", ATTRS{name}=="ADS7846 Touchscreen", ATTRS{phys}=="spi5.0/input[0-9]*", ENV{LIBINPUT_CALIBRATION_MATRIX}="1.14360133 0.02219533 -0.06783767 -0.01262267 -1.13283667 1.047116"
