config TIMEZONE_OVERRIDE
	default y
	bool "Timezone Override"
	help
	  Override the timezone

config TIMEZONE_VALUE
	depends on TIMEZONE_OVERRIDE
	default "America/Phoenix"
	string "Set System Timezone"
	help
	  Set the timezone on the image.  See timezone from /usr/share/zoneinfo
	  for the list of all timezones.
