# Enabled without an option, we always run this
config DS_SET_HOSTNAME
	bool
	default y

config DS_HOSTNAME
	string "Set hostname value"
	help
	  Set the hostname for the target system.  If it is left blank,
	  it defaults to ${DISTRO}-${RELEASE}-${TARGET_ARCH}
