CONFIG_DS_ARCH_ARMEL=y
CONFIG_DS_DISTRO_DEBIAN_12=y
CONFIG_DS_PACKAGELIST="debian_12_minimum.txt"
CONFIG_DS_KERNEL_PROVIDER_GIT_URL="https://github.com/embeddedTS/linux-lts.git"
CONFIG_DS_KERNEL_PROVIDER_GIT_VERSION="v5.10.170.5-ts"
CONFIG_DS_KERNEL_DEFCONFIG="tsimx28_minimal_defconfig"
CONFIG_DS_KERNEL_INSTALL_DEVICETREE_FILESYSTEM="imx28-ts7670 imx28-ts7400v2"
CONFIG_DS_KERNEL_INSTALL_UIMAGE_FILESYSTEM=y
CONFIG_DS_KERNEL_INSTALL_UIMAGE_LOADADDR=0x40008000
CONFIG_DS_COMPONENT_TS7400V2_UBOOT=y
CONFIG_DS_COMPONENT_TS7670_UTILS=y
CONFIG_DS_COMPONENT_WL12XX_FIRMWARE=y
CONFIG_DS_COMPONENT_RESIZE=y
CONFIG_DS_PURGE_LOCALES=y
CONFIG_DS_HOSTNAME="tsimx28"
CONFIG_DS_TIMEZONE="America/Phoenix"
# CONFIG_DS_REGENERATE_SSH_KEYS is not set
# CONFIG_DS_REGENERATE_COMMAND_NOT_FOUND is not set
# CONFIG_DS_USE_NTPSERVER is not set
CONFIG_DS_IMAGE_ROOTFS_EXT=y
CONFIG_DS_IMAGE_ROOTFS_EXT_SIZE="512M"
CONFIG_DS_GENIMAGE=y
CONFIG_DS_GENIMAGE_PATH="genimage/tsimx28.cfg"
