CONFIG_DS_DISTRO_DEBIAN_12=y
CONFIG_DS_PACKAGELIST="debian_12_headless.txt"
CONFIG_DS_KERNEL_PROVIDER_GIT_URL="https://github.com/embeddedTS/linux-lts.git"
CONFIG_DS_KERNEL_PROVIDER_GIT_VERSION="v5.10.208-ts"
CONFIG_DS_KERNEL_DEFCONFIG="tsimx6_defconfig"
CONFIG_DS_KERNEL_INSTALL_DEVICETREE_FILESYSTEM="imx6dl-ts4900-14 imx6dl-ts4900-2 imx6dl-ts4900 imx6dl-ts7970 imx6dl-ts7990-lxd imx6dl-ts7990-lxd-revb imx6dl-ts7990-microtips imx6dl-ts7990-microtips-revb imx6dl-ts7990-okaya imx6dl-ts7990-okaya-revb imx6q-ts4900-14 imx6q-ts4900-2 imx6q-ts4900 imx6q-ts7970 imx6q-ts7990-lxd imx6q-ts7990-lxd-revb imx6q-ts7990-microtips imx6q-ts7990-microtips-revb imx6q-ts7990-okaya imx6q-ts7990-okaya-revb"
CONFIG_DS_KERNEL_INSTALL_UIMAGE_FILESYSTEM=y
CONFIG_DS_KERNEL_INSTALL_UIMAGE_LOADADDR=0x10008000
CONFIG_DS_COMPONENT_LEGACY_BOOTSCRIPT=y
CONFIG_DS_COMPONENT_LEGACY_BOOTSCRIPT_CMDLINE="console=ttymxc0,115200 init=/sbin/init loglevel=4"
CONFIG_DS_COMPONENT_LEGACY_BOOTSCRIPT_INSTALL_SOURCE=y
CONFIG_DS_COMPONENT_TS4900_UTILS=y
CONFIG_DS_COMPONENT_TS4900_FPGA=y
CONFIG_DS_COMPONENT_TSSUPERVISORUPDATE=y
CONFIG_DS_COMPONENT_TS_UBOOT_CONFIGS=y
CONFIG_DS_COMPONENT_WILC3000_FIRMWARE=y
CONFIG_DS_MODULE_WILC3000=y
CONFIG_DS_COMPONENT_WL12XX_FIRMWARE=y
CONFIG_DS_COMPONENT_LINUX_FIRMWARE=y
CONFIG_DS_COMPONENT_LINUX_FIRMWARE_QCA9377=y
CONFIG_DS_WATCHDOG=y
CONFIG_DS_COMPONENT_RESIZE=y
CONFIG_DS_USER_ROOT_EN=y
CONFIG_DS_PURGE_LOCALES=y
CONFIG_DS_HOSTNAME="tsimx6"
CONFIG_DS_TIMEZONE="America/Phoenix"
CONFIG_DS_DOWNGRADE_WPA_HOSTAPD=y
CONFIG_DS_IMAGE_ROOTFS_TAR=y
CONFIG_DS_IMAGE_ROOTFS_TAR_BZIP2=y
