CONFIG_DS_DISTRO_DEBIAN_12=y
CONFIG_DS_PACKAGELIST="debian_12_minimum.txt"
CONFIG_DS_KERNEL_PROVIDER_GIT_URL="https://github.com/embeddedTS/linux-lts.git"
CONFIG_DS_KERNEL_PROVIDER_GIT_VERSION="v5.10.206.1-ts"
CONFIG_DS_KERNEL_DEFCONFIG="tsimx6ul_minimal_defconfig"
CONFIG_DS_KERNEL_INSTALL_DEVICETREE_FILESYSTEM="imx6ul-ts7250v3 imx6ul-ts7250v3-reva imx6ul-ts7100-1 imx6ul-ts7100-3"
CONFIG_DS_KERNEL_INSTALL_ZIMAGE_FILESYSTEM=y
CONFIG_DS_COMPONENT_WILC3000_FIRMWARE=y
CONFIG_DS_MODULE_WILC3000=y
CONFIG_DS_COMPONENT_DISTROBOOT_SCRIPTS=y
CONFIG_DS_WATCHDOG=y
CONFIG_DS_COMPONENT_RESIZE=y
CONFIG_DS_USER_ROOT_EN=y
CONFIG_DS_PURGE_LOCALES=y
CONFIG_DS_HOSTNAME="tsimx6ul"
# CONFIG_DS_REGENERATE_SSH_KEYS is not set
# CONFIG_DS_REGENERATE_COMMAND_NOT_FOUND is not set
# CONFIG_DS_USE_NTPSERVER is not set
CONFIG_DS_IMAGE_ROOTFS_TAR=y
