
#
# Distribution
#
CONFIG_DS_ARCH_ARMHF=y
# CONFIG_DS_ARCH_ARMEL is not set
# CONFIG_DS_DISTRO_DEBIAN_11 is not set
CONFIG_DS_DISTRO_DEBIAN_12=y
# CONFIG_DS_DISTRO_UBUNTU_22_04 is not set
# CONFIG_DS_DISTRO_UBUNTU_23_04 is not set
CONFIG_DS_PACKAGELIST="debian-12-slim-xfce4.txt"
# end of Distribution

#
# Kernel
#
CONFIG_DS_KERNEL_PROVIDER_GIT=y
CONFIG_DS_KERNEL_PROVIDER_GIT_URL="https://github.com/embeddedTS/linux-lts.git"
CONFIG_DS_KERNEL_PROVIDER_GIT_VERSION="v5.10.170.5-ts"
CONFIG_DS_KERNEL_DEFCONFIG="tsimx6_defconfig"
CONFIG_DS_KERNEL_INSTALL_DEVICETREE_FILESYSTEM="imx6q-ts7970 imx6dl-ts7970"
CONFIG_DS_KERNEL_INSTALL_ZIMAGE_FILESYSTEM=y
CONFIG_DS_KERNEL_INSTALL_UIMAGE_FILESYSTEM=y
CONFIG_DS_KERNEL_INSTALL_UIMAGE_LOADADDR=0x10008000
# end of Kernel

#
# Components
#

#
# Hardware Specific Components
#

#
# embeddedTS
#
CONFIG_DS_PACKAGE_LEGACY_BOOTSCRIPT=y
CONFIG_DS_PACKAGE_LEGACY_BOOTSCRIPT_CMDLINE="console=ttymxc0,115200 init=/sbin/init loglevel=4"
CONFIG_DS_PACKAGE_LEGACY_BOOTSCRIPT_INSTALL_SOURCE=y
CONFIG_DS_PACKAGE_TS4900_UTILS=y
# CONFIG_DS_PACKAGE_TS7100_UTILS is not set
CONFIG_DS_PACKAGE_TS4900_FPGA=y
CONFIG_DS_PACKAGE_TSSUPERVISORUPDATE=y
CONFIG_DS_COMPONENT_TS_UBOOT_CONFIGS=y
# end of embeddedTS

#
# NXP
#
CONFIG_DS_COMPONENT_XORG_ETNAVIV=y
# end of NXP

#
# Microchip
#
CONFIG_DS_PACKAGE_WILC3000_FIRMWARE=y
CONFIG_DS_MODULE_WILC3000=y
# end of Microchip

#
# TI
#
CONFIG_DS_PACKAGE_WL12XX_FIRMWARE=y
# end of TI
# end of Hardware Specific Components

# CONFIG_DS_PACKAGE_DISTROBOOT_SCRIPTS is not set
CONFIG_DS_PACKAGE_RESIZE=y
CONFIG_DS_XORG_STARTX_SERVICE=y
CONFIG_DS_XORG_STARTX_SERVICE_TARGET="xterm"
# CONFIG_DS_XORG_STARTX_SERVICE_NO_DECORATIONS is not set
# end of Components

#
# Image Configuration
#

#
# Required Settings
#
CONFIG_DS_LOCALES="en_US.UTF-8"
CONFIG_DS_PURGE_LOCALES=y
CONFIG_DS_HOSTNAME="tsimx6"
CONFIG_DS_TIMEZONE="America/Phoenix"
CONFIG_DS_FSTAB_GEN=y
# CONFIG_DS_FSTAB_FILE is not set

#
# geneated fstab options
#
CONFIG_DS_FSTAB_GEN_ROOT_DEVICE="/dev/root"
CONFIG_DS_FSTAB_GEN_ROOT_FS="ext4"
CONFIG_DS_FSTAB_GEN_ROOT_OPTIONS="defaults"
# end of geneated fstab options

#
# Optional Settings
#
CONFIG_DS_REGENERATE_SSH_KEYS=y
CONFIG_DS_REGENERATE_COMMAND_NOT_FOUND=y
# CONFIG_DS_JOURNAL_SIZE_OVERRIDE is not set
# CONFIG_DS_PURGE_MAN_PAGES is not set
CONFIG_DS_NFSROOT_FIXUP=y
CONFIG_DS_USE_NTPSERVER=y
CONFIG_DS_USE_NTPSERVER_PROVIDER="time.cloudflare.com"
# end of Image Configuration

#
# Output Image
#
CONFIG_DS_IMAGE_ROOTFS_TAR=y
CONFIG_DS_IMAGE_ROOTFS_TAR_NONE=y
# CONFIG_DS_IMAGE_ROOTFS_TAR_XZ is not set
# CONFIG_DS_IMAGE_ROOTFS_TAR_BZIP2 is not set
# end of Output Image
