config DS_COMPONENT_TS7400V2_UTILS
	bool "ts7400v2-utils"
	help
	  Utilities tools for TS-7400-V2 SBC for use with 4.x and newer
	  kernels.

	  Includes tools to communicate with the supervisory
	  microcontroller, RTC NVRAM, and ADC helper.
