menu "Image Configuration"

comment "Required Settings"
source "image/set-locales/Kconfig"
source "image/set-hostname/Kconfig"
source "image/set-timezone/Kconfig"
source "image/set-fstab/Kconfig"

comment "Optional Settings"
source "image/ssh-regen-keys/Kconfig"
source "image/update-command-not-found/Kconfig"
source "image/set-log-size/Kconfig"
source "image/purge-man-pages/Kconfig"

endmenu
